[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nimeshpande
[access "refs/for/refs/*"]
	read = group user/nimeshpande
	push = group user/nimeshpande
	label-Code-Review = -2..+2 group user/nimeshpande
	label-Verified = -1..+1 group user/nimeshpande
	rebase = group user/nimeshpande
	removeReviewer = group user/nimeshpande
	submit = group user/nimeshpande
[access "refs/heads/*"]
	read = group user/nimeshpande
	create = group user/nimeshpande
	push = +force group user/nimeshpande
	pushMerge = group user/nimeshpande
[access "refs/tags/*"]
	push = group user/nimeshpande
	push = +force group user/nimeshpande
[project]
	description = devops project
